*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 body{
    font-family: 'Open Sans', sans-serif;
 
 }
 html{
     scroll-behavior: smooth;
 }
 ul{
     list-style: none;
 }
 .cont{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
@media (min-width:768px){
.cont{
    width: 750px;
}
}
@media (min-width:992px){
    .cont{
        width: 950px;
    }
}
@media (min-width:1200px){
    .cont{
        width: 1170px;
    }
    
}

.header {
    background-color:white
}
.header .cont{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.header .cont  div{
    display: flex;
} 
.header .cont div a{
    padding: 20px 10px;
    font-size: 17px;
    color: #636060;
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
} 
.header .cont div a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
 .header .cont .header2 a{
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}
  .header .cont .bars{
    display: none;
}
@media(max-width:767px){
    .header .cont div {
       display: none;
    }
    .header .cont{
        display: block;
    }
    .bars{
        display: block;
        text-align: start;
        padding: 20px 10px;
    }
    .bars:hover + div {
        flex-direction: column ;
        display: block;
        display: flex;
        flex-direction: column;
       position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        background-color:rgba(0, 0, 0, 0.459); 
    }
    
}
.chair{
    padding-top: 200px;
    padding-bottom: 200px;
    /* background-color: #FFFFFF;
    background-color: #F8F8F8; */
} 
.chair .cont{
    position: relative;
} .chair .cont p{
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 210px;
    top: -60px;
}
@media(max-width:767px){
    .chair .cont p{
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 10px;
    top: -60px;
}
}
.chair .cont .au{
    font-size: 18px;
    font-weight: 400;
    position: absolute;
   left: 650px;
   top: -25px;
   
}
@media(max-width:767px){
    .chair .cont .au{
        font-size: 16px;
        font-weight: 400;
        position: absolute;
       left: 280px;
       top: -40px;
       
    }
}
 .chair .cont .img{
    width: 400px;
    height: 600px;
    margin: auto;
    width: 50%;
    position: relative;
 }
.chair .cont .center{
      width: 400px;
      max-width: 100%;
}

.chair .cont .img::after{
     
        content: "";
        position: absolute;
        width: 80px;
        height: 110px;
        border-left: 2px solid  #b9b7b7;
        border-bottom: 2px solid  #b9b7b7;
        left: -43px;
      top: -40px;
        z-index: 1;
}
@media(max-width:767px){
    .chair .cont .img::after{
        content: "";
        position: absolute;
        width: 60px;
        height: 60px;
        border-left: 2px solid #b9b7b7;
        border-bottom: 2px solid #b9b7b7;
        left: -43px;
        top: -40px;
        z-index: 1;
       
}
}
.chair .cont .img::before{

    content: "";
    position: absolute;
    width: 80px;
    height: 250px;
    border-right: 2px solid #b9b7b7;;
    border-bottom: 2px solid  #b9b7b7;;
    left: 360px;
    z-index: 1;

}
 @media(max-width:767px){
    .chair .cont .img::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 120px;
        border-right: 2px solid #b9b7b7;;
        border-bottom: 2px solid  #b9b7b7;;
        left: 160px;
        z-index: 1;
    
    }
} 
.chair .cont p.onee{
    position: absolute;
    font-size: 18px;
    font-weight: 400;
  left: 200px;
  top: 270px;
   
}
@media(max-width:767px){
    .chair .cont p.onee{
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    left: 10px;
    top: 90px;
    }
}
.chair .cont .one::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 200px;
    border-left: 2px solid  #b9b7b7;
    border-bottom: 2px solid  #b9b7b7;
    bottom: 100px;
    left: 230px;
    z-index: 1;
}
@media(max-width:767px){
    .chair .cont .one::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 90px;
    border-left: 2px solid #b9b7b7;
    border-bottom: 2px solid #b9b7b7;
    bottom: 400px;
    left: 50px;
    z-index: 1;
    }
}

.chair .cont .onee::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 140px;
    border-top: 2px solid  #b9b7b7;
    border-right: 2px solid  #b9b7b7;
    bottom: 100px;
    left: 460px;
    top: 190px;
    z-index: 1;
}
@media(max-width:767px){
    
.chair .cont .onee::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 140px;
    border-top: 2px solid #b9b7b7;
    border-right: 2px solid #b9b7b7;
    bottom: 100px;
    left: 250px;
    top: 140px;
    z-index: 1;
}
}
.chair .cont p.two{
    position: absolute;
    font-size: 18px;
    font-weight: 400;
  left: 620px;
  top: 600px;
} 
@media(max-width:767px){
    .chair .cont p.two{
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    left: 260px;
    top: 375px;
    }
}
.chair .cont .black{
color: #2B292B;
  
   
}.chair .cont .brown{
    color: #3d240f;
   
}
.chair .cont .red{
    color: #C4BFBB;
   
}
.chair .cont .yollow{
    color: #B5B5B4;
}
.chair .cont .bink{
    color: #DFB7A8;
}
.chair .cont .bink2{
    color: #A4604A
}
.chair .cont .bink3{
    color:#AC7625
}
.chair .cont .red2{
    color: #AC7625;
}
.chair .cont .red3{
    color: #8398AB;
}
.chair .cont .red4{
    color: #223169;
}
.contact{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact .cont{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px ,1fr));
}
@media(max-width:767px){
    .contact .cont{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(100px ,1fr));
        gap: 140px;
        
    }
    .contact .cont .quick{
display: none;
    }
}

.contact .cont h3{
    padding-bottom: 10px;
    text-transform: uppercase;
}
.contact .cont li{
   list-style: none;
}
.contact .cont ul {
    padding-bottom: 5px;
    color: #777;
    text-align: start;
}
footer{
    padding: 20px 0;
    background-color:#F6F6F6; 
    text-align: center;
    padding-top: 190px;
}
footer a{
    padding-right: 10px;
    text-decoration: none;
   
}
footer a i{
    color: #777;
    
}
footer p{
    padding-top: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #777;
}